/* karla-regular - latin */
@font-face {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/karla-v23-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/karla-v23-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* karla-700 - latin */
  @font-face {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/karla-v23-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/karla-v23-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  /* rubik-regular - latin */
@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/rubik-v21-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/rubik-v21-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* rubik-500 - latin */
  @font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    src: local(''),
         url('../fonts/rubik-v21-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/rubik-v21-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* rubik-600 - latin */
  @font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 600;
    src: local(''),
         url('../fonts/rubik-v21-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/rubik-v21-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: 'Rubik';
  font-style: normal;
  font-size: 16px;
  font-weight: normal;
  color: black;
}

img {
  max-width: 100%;
  height: auto;
}

/* header st */
.wrapper {
  max-width: 1060px;
  margin: 0 auto;
}
.header {
  background-color: rgba(255, 255, 253, 0.77);
  padding-top: 8px;
  padding-bottom: 8px;
  position: fixed;
  width: 100%;
  left: 0;
  z-index: 1;
}
.header_wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
}
.header_list {
  display: flex;
  flex-wrap: wrap;
}
.header_item {
  margin-right: 26px;
}
.header_item:last-child {
  margin-right: 0;
}
.header_link {
  font-size: 16px;
  line-height: 19px;
  color: black;
  text-decoration: none;
}
.underline {
  color: #4DB6DB;
  cursor: pointer;
  display: inline-block;
  position: relative;
}
.underline:after {
  content: ' ';
  background-color: #4DB6DB;
  height: 2px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: bottom left;
  transition: transform 0.5s ease-out;
}
.underline:hover:after {
  transform: scaleX(1);
}

/* header end */

/* banner st */

.intro {
  min-height: 95vh;
  background: url(../img/banner.jpg) no-repeat center;
  background-size: cover;
  padding-top: 245px;
}
.intro_title {
  max-width: 480px;
  font-weight: 600;
  font-size: 51px;
  line-height: 60px;
  letter-spacing: 0.095em;
  color: white;
  margin-bottom: -5px;
  cursor: pointer;
}
.intro_continent {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 77px;
  line-height: 100px;
  letter-spacing: 0.115em;
  cursor: pointer;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 3px #FFFFFF;
}
.intro_continent:hover {
  -webkit-text-fill-color: #4DB6DB;
}

/* banner end */

/* benefits st*/

.benefits_wrap {
  max-width: 783px;
  max-height: 267px;
  background-color: white;
  margin: 0 auto;
  margin-bottom: 88px;
}
.benefits_card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 21px;
  padding: 0 100px;
  margin-top: 77px;
}
.benefits_card {
  grid-column: span 1;
}
.benefits_card_pic {
  margin-bottom: 22.56px;
  display: flex;
  align-items: center;
}
.benefits_card_thumb {
  display: block;
  margin: 0 auto;
  margin-left: 20px;
}
.benefits_card_title {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  align-items: center;
  text-align: center;
  margin-bottom: 26px;
}
.benefits_card_desc {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 106%;
  text-align: center;
  margin-bottom: 88px;
}

/*benefits end*/

/* upcoming st*/

.upcoming_title {
  font-weight: 500;
  font-size: 29px;
  line-height: 106%;
  text-align: center;
  margin-bottom: 19px;
}
.upcoming_line {
  max-width: 580px;
  margin-bottom: 65px;
}
.upcoming_wrap {
  max-width: 1305px;
  margin: 0 auto;
}
.upcoming_cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 180px;
  padding: 0 142px;
}
.upcoming_card {
  grid-column: span 1;
}
.upcoming_name {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-bottom: 26px;
}
.upcoming_card_pic {
  margin-bottom: 18px;
  max-width: 220px;
}
.upcoming_card_img {
  display: block;
  cursor: pointer;
  transition: all 1s ease-in-out;
}
.upcoming_card_img:hover {
  transform: scale(1.1);
}
.details_form_submit {
  display: flex;
  justify-content: center;
  min-width: 220px;
  padding: 9px 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.095em;
  color: black;
  background: rgba(77, 182, 219, 0.56);
  border: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
}
.details_form_submit:hover {
  opacity: 0.75;
}

/* upcoming end*/

/* blog st*/
.blog_wrap {
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 92px;
  margin-bottom: 77px;
}
.blog_first {
  display: grid;
  grid-template-columns: 300px 569px;
  grid-gap: 0 31px;
  background: #F6F1F1;
  margin-bottom: 70px;
  margin-right: 80px;
}
.blog_info {
  padding-top: 43px;
}
.blog_title {
  font-weight: 500;
  font-size: 20px;
  line-height: 106%;
  display: flex;
  align-items: center;
}
.blog_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 106%;
}
.blog_more_first {
  max-width: 8em;
  min-height: 2em;
  margin-left: auto;
  margin-right: 100px;
  margin-top: 70px;
  margin-bottom: 20px;
}
.more_form_submit {
  display: flex;
  justify-content: center;
  min-width: 220px;
  padding: 9px 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.095em;
  color: black;
  background: rgba(245, 205, 184, 0.74);
  border: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
}
.more_form_submit:hover {
  opacity: 0.75;
}

.blog_second {
  display: grid;
  grid-template-columns: 569px 300px;
  grid-gap: 0 31px;
  background: #F6F1F1;
  margin-left: 109px;
}
.blog_info_sec {
  padding-top: 43px;
  padding-left: 29px;
}
.blog_more_second {
  max-width: 8em;
  min-height: 2em;
  margin-right: auto;
  margin-left: 5px;
  margin-top: 70px;
  margin-bottom: 20px;
}

/* blog end*/

/* footer st*/
.footer {
  background: url(../img/Footer.jpg) no-repeat center;
  padding: 80px 0;
  background-size: cover;
}
.footer_item {
  display: flex;
  flex-wrap: wrap;
}
.footer_logo {
  width: 25%;
}
.footer_nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 75%;
}
.footer_title {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}
.footer_link {
  color: black;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;  
}
.footer_link:hover, .footer_link:focus, .footer_link:active {
  opacity: .75;
}
.footer_contacts_contact {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

/* footer end*/

/* choose st*/

.choose_title {
  font-weight: 500;
  font-size: 29px;
  line-height: 106%;
  text-align: center;
  margin-bottom: 19px;
  padding-top: 87px;
}
.choose_line {
  max-width: 580px;
}
.choose_wrap {
  max-width: 1305px;
  margin: 0 auto;
}
.block {
  height: 590px;
  left: 0px;
  top: 246px;
  background: #F6F1F1;
  margin-top:-150px;
}
.choose_cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  padding-right: 130px;
  padding-left: 130px;
}
.choose_card {
  grid-column: span 1;
  top: -390px;
}
.choose_name {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 40px;
  margin-top: 40px;
}
.choose_card_pic {
  margin-bottom: 14px;
  width: 250px;
}
.choose_card_img {
  display: block;
  cursor: pointer;
  transition: all 1s ease-in-out;
}
.choose_card_img:hover {
  transform: scale(1.1);
}
.block, .choose_card {
  position: relative;
}
.upcoming_1 {
  margin-top:-300px;
}

/* choose end*/

/* block 3 st*/

.help {
  height: 1031px;
  left: 0px;
  top: 246px;
  background: #F6F1F1;
  margin-top: 130px;
}
.help_title {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  font-size: 29px;
  line-height: 106%;
  max-width: 580px;
  padding-top: 55px;
  padding-left: 130px;
  margin-bottom: 58px;
}
.help_first {
  display: grid;
  grid-template-columns: 199px 650px;
  grid-gap: 0 31px;
  background: white;
  margin-bottom: 58px;
  margin-right: 130px;
  margin-left: 330px;
  max-height: 192px;
}
.help_info {
  padding-top: 22px;
  min-width: 650px;
}
.help_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 106%;
}
.help_more_first {
  max-width: 8em;
  min-height: 2em;
  margin-right: 130px;
  margin-left: 650px;
  margin-top: -64px;
}
.help_form_submit {
  display: flex;
  justify-content: center;
  min-width: 220px;
  padding: 9px 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.095em;
  color: black;
  background: rgba(245, 205, 184, 0.74);
  border: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
}
.help_form_submit:hover {
  opacity: 0.75;
}
.help_second {
  display: grid;
  grid-template-columns: 199px 520px;
  grid-gap: 0 31px;
  background: white;
  margin-bottom: 58px;
  margin-left: 131px;
  margin-right: 330px;
  max-height: 192px;
}

/* block 3 end*/