/* karla-regular - latin */
@font-face {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/karla-v23-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/karla-v23-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* karla-700 - latin */
  @font-face {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/karla-v23-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/karla-v23-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  /* rubik-regular - latin */
@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/rubik-v21-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/rubik-v21-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* rubik-500 - latin */
  @font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    src: local(''),
         url('../fonts/rubik-v21-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/rubik-v21-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* rubik-600 - latin */
  @font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 600;
    src: local(''),
         url('../fonts/rubik-v21-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/rubik-v21-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: 'Rubik';
  font-style: normal;
  font-size: 16px;
  font-weight: normal;
  color: black;
}

img {
  max-width: 100%;
  height: auto;
}

/* header st */
.wrapper {
  max-width: 1060px;
  margin: 0 auto;
}
.header {
  background-color: rgba(255, 255, 253, 0.77);
  padding-top: 8px;
  padding-bottom: 8px;
  position: fixed;
  width: 100%;
  left: 0;
}
.header_wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
}
.header_list {
  display: flex;
  flex-wrap: wrap;
}
.header_item {
  margin-right: 26px;
}
.header_item:last-child {
  margin-right: 0;
}
.header_link {
  font-size: 16px;
  line-height: 19px;
  color: black;
  text-decoration: none;
}

/* header end */

/* banner st */

.intro {
  min-height: 95vh;
  background: url(../img/banner.jpg) no-repeat center;
  background-size: cover;
  padding-top: 245px;
}
.intro_title {
  max-width: 480px;
  font-weight: 600;
  font-size: 51px;
  line-height: 60px;
  letter-spacing: 0.095em;
  color: white;
  margin-bottom: -5px;
}
.intro_continent {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 77px;
  line-height: 100px;
  letter-spacing: 0.115em;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 3px #FFFFFF;
}
.intro_continent:hover {
  -webkit-text-fill-color: #4DB6DB;
}

/* banner end */

/* benefits st*/

.benefits_wrap {
  max-width: 783px;
  max-height: 267px;
  background-color: white;
  margin: 0 auto;
  position: relative;
}
.benefits_card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 21px;
  padding: 0 100px;
  margin-top: 77px;
}
.benefits_card {
  grid-column: span 1;
}
.benefits_card_pic {
  margin-bottom: 22.56px;
  max-width: 110px;
  display: flex;
  align-items: center;
}
.benefits_card_thumb {
  display: block;
  margin: 0 auto;
  margin-left: 20px;
}
.benefits_card_title {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  align-items: center;
  text-align: center;
  margin-bottom: 26px;
}
.benefits_card_desc {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 106%;
  text-align: center;
  margin-bottom: 88px;
}

/*benefits end*/